/*Your styles*/

body {
	margin: 4px;
}

#content {
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle;
	width: 100%;
}

.fullHeight {
	height: 100%;
}

button:focus {
  outline: 0 !important;
}

/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}

pre {
	display: inherit;
	font-family: inherit;
	margin-top: 3px;
	margin-right: inherit;
	margin-bottom: inherit;
	margin-left: inherit;
	white-space: pre-wrap;
}

.hostButton {
	border: 1px solid;
	border-radius: 2px;
	height: 20px;
	vertical-align: bottom;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
}

label {
	font-size: 12px;
}

.disabled {
  opacity: .3;
}

#tabJob disabled {
  opacity: .3;
}

#tabItem disabled {
  opacity: .3;
}

.tabdisabled {
  text-align: center;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 21px;
}
ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	cursor: pointer;
}

ul.tabs li button {
  overflow: visible;
}

ul.tabs li button.even {
  background-color: #4b4c4d;
}

ul.tabs li.current button.even {
  background-color: #595b5b;
	height: 24px;
}

ul.tabs li.current button.odd {
  background-color: #3f4041;
	height: 25px;
}

.tab-content {
	position: relative;
	display: none;
	padding: 4px;
	color: #c6c8c8;
	overflow: auto;
}

.tab-content.ht1 {
	height: 241px;
}

.tab-content.ht2 {
	height: 211px;
}

.tab-content.even {
	background: #595b5b;
}

.tab-content.odd {
	background: #3f4041;
}

.tab-content.current {
  display: inherit;
}

.note {
  margin-bottom: 4px;
}

.note button {
	width: 30px;
	padding: 0px;
	text-align: center;
}

.note button:hover span {
  display: none;
}

.note button:hover:before {
  content: "X";
}

#newNoteUI {
	display: none;
	position: absolute;
	top: 4px;
	left: 6px;
	right:6px;
}

#newNoteUI button {
	float: right;
	margin: 3px 1px 0px 1px;
}

#newNote {
	width: 100%;
	font-size: 10pt;
	padding: 2px 5px 3px 5px;
}

.block {
	display: inline-block;
	background-color: #595b5b;
	padding: 3px 6px 3px 6px;
	margin: 1px;
	border-radius: 3px;
	font-size: 12px;
	vertical-align: top;
}

.blockText {
	margin-top: 6px;
	line-height: 22px;
	padding: 0px 6px 0px 6px;
}

.blockBtnRight {
	float: right;
	margin-right: 3px;
}

.lgBlockDiv {
	width:217px;
}

.wideBlockDiv {
	width:451px;
}

.dPopup {
	position: absolute;
	top: 40px;
	left: 25%;
	right: 25%;
	text-align: center;
	white-space: normal;
	overflow: auto;
	padding: 10px 10px 20px 10px;
	color: #000;
	background-color: #c6c8c8;
	border: 3px solid #3f4041;
	border-radius: 10px;
}

#getUserID {
	display: none;
}

#userID {
  width: 50px;
}

.btnBar {
	position: absolute;
	top: 3px;
	right: 6px;
	color: #c6c8c8
}

.notifier {
  display: none;
}

.notifierText {
  font-size: 10pt;
}

.notifierClose {
  margin-bottom: 10px;
}

/* topcoat overides*/

.topcoat-checkbox {
	padding-top: 6px;
	line-height: 12px;
}

.topcoat-checkbox__checkmark {
	width: 12px;
	height: 12px;
}

.topcoat-checkbox__checkmark:before {
	width: 12px;
	height: 12px;
}

.topcoat-checkbox__checkmark:after {
	width: 10px;
	top: 0px;
}

/**/

.topcoat-tab-bar {
	height: 23px;
}

.topcoat-tab-bar__button {
	vertical-align: bottom;
}

/**/

.topcoat-radio-button {
	padding-top: 6px;
	line-height: 12px;
}

.topcoat-radio-button__checkmark {
	width: 12px;
	height: 12px;
}

.topcoat-radio-button__checkmark:before {
	width: 12px;
	height: 12px;
}

.topcoat-radio-button__checkmark:after {
	width: 6px;
	height: 6px;
	top: 2px;
	left: 2px;
}

/**/

.topcoat-select{
	margin:0;
	font:inherit;
	background:0 0;
	outline:0;
	box-sizing:border-box;
	background-clip:padding-box;
	position:relative;
	display:inline-block}
.topcoat-select:disabled{
	opacity:.3;
	cursor:default;pointer-events:none}
.topcoat-select{
	-webkit-appearance:none;
	-moz-appearance:none;appearance:none}
.topcoat-select::-ms-expand{
  display:none}
.topcoat-select{
	-webkit-user-select:none;
	-moz-user-select:none;-ms-user-select:none;user-select:none;
	cursor:pointer;
	text-indent:1px;
	text-overflow:'';
	padding:.25rem .75rem;
	/*font-size:1rem;
	font-weight:400;
	line-height:1.313rem;*/
	letter-spacing:0;color:hsla(180,2%,78%,1);
	text-shadow:0 -1px hsla(0,0%,0%,.69);
	vertical-align:top;
	border-radius:4px;
	background-color:hsla(180,1%,35%,1);
	box-shadow:inset 0 1px hsla(0,0%,45%,1);
	border:1px solid hsla(180,1%,20%,1);
	background-image:url(../img/dropdown.svg);
	background-repeat:no-repeat;
	background-position:center right;
	min-width:3.4rem
}
.topcoat-select:hover{
  background-color:hsla(200,2%,39%,1);
}
.topcoat-select:active{background-color:hsla(210,2%,25%,1);
  box-shadow:inset 0 1px hsla(0,0%,0%,.05);
}
.topcoat-select:focus{border:1px solid hsla(227,100%,50%,1);
	box-shadow:0 0 0 2px hsla(208,82%,69%,1);
	outline:0,
}
</style>